IDS-Realtime/checkpoints/
IDS-Realtime/data/
IDS-Realtime/models/*.joblib
IDS-Realtime/models/*.pkl
IDS-Realtime/models/*.h5
IDS-Realtime/models/*.sav
IDS-Realtime/.ipynb_checkpoints/
IDS-Realtime/__pycache__/
IDS-Realtime/venv/
IDS-Realtime/.venv/
*.pyc